.TrailContainer {
  padding-bottom: 170px;
  margin-top: 5px;
  width: 100%;
  padding-right: 16px;
  overflow-y: scroll;
}

.SubContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 15%;
  width: 80%;
}

.TrailContainer::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.TrailContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}

/* Handle */
.TrailContainer::-webkit-scrollbar-thumb {
  background: #232323;
  border-radius: 5px;
}

/* Handle on hover */
.TrailContainer::-webkit-scrollbar-thumb:hover {
  background: #232323;
}

@media (min-width: 500px) {
  .Trail {
    padding-bottom: 290px;
  }
}
