.Avatar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 5px 0px 5px;
  transition: .2s ease-out;
}

.Active {
  height: 100px;
  width: 100px;
}

.OnDeck {
  height: 20px;
  width: 20px;
}
