.Controls {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  width: 100%;
  z-index: 300;
  box-shadow: 0px -20px 20px  0px white;
}

@media (min-width: 500px) {
  .Controls {
    height: 250px;
  }
}
